{% extends 'base.html' %} {% block title %} Borrar Productos - Tienda {% endblock %} {% block header %}
<div class="container">
    <h1>
        Eliminar Productos
    </h1>
    <p>
        Bienvenido a la pantalla de eliminación de productos, en este apartado podras eliminar aquellos productos que ya no desees en tu inventario.
    </p>
</div>
{% endblock %} {% block content %}
<div class="container">

    <form method="post">
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">bookmark</i>
                <input id="id" name="id" type="number" class="validate" required>
                <label for="id">ID del producto</label>
            </div>
        </div>
        <div class="row">
            <div class="col s10">
                <button class="btn waves-effect waves-light" type="submit" name="action">Eliminar
                        <i class="material-icons right">delete_forever</i>
                </button>
            </div>
        </div>
    </form>

    <table class="striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descripción</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    {{ product['id'] }}
                </td>
                <td>
                    {{ product['productname'] }}
                </td>
                <td>
                    {{ product['price'] }}
                </td>
                <td>
                    {{ product['quantity'] }}
                </td>
                <td>
                    {{ product['description'] }}
                </td>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}